<div class="main actor-index">
      <div class="container">
        <div class="row">

          <!--
          To do: Loop through movies and display each one with this HTML-->
          <% @actors.each do |actor| %>
          <div class="actor col-xs-2">
            <%= image_tag actor.image %>
            
            <h3> <%= actor.first_name %> <%= actor.last_name %></h3>
            <%= link_to "Learn more", actor_path(actor) %>
            <p> <%= actor.bio %> </p>
          </div>
          <% end %>
          
      </div>
</div>
